<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h2>Submitted Info</h2>
    <p>Name: {{session['first-name']}} {{ session['last-name']}}</p>
    <p>Dojo Location: {{session['select-location']}}</p>
    <p>Favorite Languege: {{session['fav-language']}}</p>
    <p>Comment: {{session['comment']}}</p>
    <p>Gender:{{session['check']}}</p>
    <p>Marital Status: {{session['status']}}</p>
    <a href="/back"><button id="submit">Go Back</button></a>
    </div>
</body>